<% if admin_signed_in? %>
  <%= render "admins/home" %>
<% else %>
  <%= render "static_pages/banner" %>
  <div id="main">
    <div id="content">
      <h2 class="text-center">Top Movie</h2>
      <div class="container">
        <div class="row">
        <div class="new-arrival">
              <div class="titlebar">
                <div class="next-back">
                    <span><a data-slide="prev" href="#Carousel" class="left carousel-control">Back</a></span>
                    <span><a data-slide="next" href="#Carousel" class="right carousel-control">Next</a></span>
                  </div>
              </div>
              <div class="arrival-product">
                  <div id="Carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-product">
                        <div class="carousel-item active">
                          <div class="arrival-item">
                              <Ul>
                                 <% @films.each do |film| %>
                                    <li>
                                    <a href="#">
                                      <%= image_tag film.image, class: "demo-img" %>
                                    </a>
                                    </li>
                                 <% end %>
                              </Ul>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>
        <div id="product-text">
          <h2>Action movie</h2>
        </div>
        <div class="row">
          <% @films.each do |film| %>
          <div class="movie">
            <div class="movie-image">
              <span class="play">
                <span class="name"><%= film.name %></span>
              </span>
              <%= link_to "#" do %>
                <%= image_tag film.image %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      <div class="cl">&nbsp;</div>
    </div>
<% end %>
