<div class="container">
  <table id="list_users" class="table table-striped table-bordered">
	<thead>
	  <th><%= t ".id" %></th>
		<th><%= t ".full_name" %></th>
		<th><%= t ".email" %></th>
		<th class="text-center"><%= t ".action" %></th>
	  </thead>
	<tbody>
	  <%= render partial: "admins/users/user", collection: @users %>
	</tbody>
  </table>
</div>
