<div class="container">
  <strong><%= t ".total" %></strong><%= @ratings.sum :star %><br/>
  <strong><%= t ".average" %></strong><%= @ratings.average :star %>
  <table id="list_datatable" class="table table-striped table-bordered">
    <thead>
      <th><%= t ".id" %></th>
      <th><%= t ".star" %></th>
      <th><%= t ".user_id" %></th>
      <th><%= t ".film_id" %></th>
    </thead>
    <tbody>
      <%= render @ratings %>
    </tbody>
  </table>
</div>
